.experiences {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    list-style: none;
}

.experiences li {
   margin-bottom: 1.5rem;
}

.experiences li .period {
    display: flex;
    flex-direction: row;
}

.experiences li .period i {
    margin-right: 0.5rem;
    vertical-align: middle;
}