* {
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
}

body {
    background-color: black;
    color: white;
}

.main {
    margin: 1rem;
    padding: 1rem;
    border: 1px solid white;
    border-radius: 1rem;
}