
.header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header .photo {
    width: 50vw;
    height: auto;
    border-radius: 50%;
    max-width: 300px;
}

.header .title {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

.informations {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
}

.informations p {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0.5rem;
}

.informations i {
    color: #00ffcc;
    font-size: 16px;
    margin-right: 0.5rem;
}