
.header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header .photo {
    width: 50vw;
    height: auto;
    border-radius: 50%;
    max-width: 300px;
}

.header .title {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

.information {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: fit-content;
    margin: 0 auto;
}

.information p {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 8px;
    width: 100%;
}

.information i {
    width: 25px;
    display: inline-flex;
    justify-content: center;
    margin-right: 10px;
    color: #00ffcc;
}

@media only screen and (min-width: 768px) {
    .header {
        display: grid;
        grid-template-areas: 
            "photo title"
            "photo information";
    }

    .header .photo {
        grid-area: photo;
        margin: 0 auto;
    }

    .header .title {
        grid-area: title;
        text-align: start;
        max-width: 220px;
    }

    .header .information {
        grid-area: information;
        text-align: start;
        
    }  
}
